/* 全局页面定义 */

html body {
  padding: 0;
  margin: 0;

  /* font-size: 62.5%; */
  background: #282d4c;
  /* background-image: url("../static/siteimg/01.png");
  background-position: left top;
  background-size: 100% 100%;
  background-attachment: fixed; */
}

/*.page-enter-active {

  transition: all 0.2s ease;
}*/
/*
.page-enter {
  opacity: 0;

  transform: translate3d(100px, 0, 0);
}

.page-leave-active {
   transition: all 0.2s ease;
  opacity: 0;
  animation-delay: 0.2s;
  transform: translate3d(-100px, 0, 0) scalex(0.8);

  opacity: 0;
  transform: translate3d(-100px, 0, 0);
  transition: all 0.2s ease;
}*/
.page-enter-active,
.page-leave-active {
  transition: opacity 0.6s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translate3d(0, 0, -200px);
}

img {
  /* height: auto; */
  max-width: 100%;
  /* vertical-align: middle; */
  border: 0;
}

/* .v-note-panel {
  background-color: #fff !important;
} */
.v-note-show {
  font-size: 15px;
}
.markdown-body {
  font-family: none !important;
}
.v-note-wrapper {
  border: none !important;
  padding: 5px;
}

.v-show-content {
  background-color: #fff !important;
}
